*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", "Helvetica Neue";
    width: 100vw;
    height: 100vh;
  }

/* css for signup and login page  */
.data-block{
    width: 80%;
    margin: auto;
}
.logo-img{
    width: 4rem;
    height: 2.75rem;
}
.logo-heading, .login-heading{
    font-family: "Righteous";
    font-weight:900;
    font-size: 1.5rem;

}
.forget-text {
    color: rgb(8, 135, 214);
    text-decoration: none;
}
.lighter-text{
    font-size: 0.8rem;
    color: rgb(122, 121, 121);
}
.input-field label {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .input-field input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e7e7e7e3;
    box-shadow: 0 4px 4px #e7e7e7e3;
  }
  .input-field input:focus{
    outline: none;
  }
  .login-btn {
    background-color: rgba(0, 0, 255, 0.776);
    color: white;
    font-size: 1rem;
    padding: 0.75rem;
  }
  .login-btn:hover {
    background-color: rgb(41, 41, 181);
    color: white;
  }
  .side-cover-img{
    width: 100%;
    height:100vh;
    opacity: 50%;
  }
  .error-text{
    color: red;
  }

@media screen and (max-width: 768px) {
    .img-block{
        display: none;
    }
    .extra-p{
        padding-top: 0.75rem;
    }
  .login-page {    
    background-image: url('../images/lighter-login-img.png');
    background-size: cover;
  }
  .signup-page {    
    background-image: url('../images/lighter-signup-img.png');
    background-size: cover;
  }
}